// _nesting.scss
.accessory-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 10px;

    h3 {
      font-size: larger;
      color: rgb(255, 255, 255);
    }

    p {
      font-size: medium;
      color: darken(rgb(0, 0, 0), 10%);
    }

    a {
      text-decoration: none;
      color: $primary-color;
      &:hover {
        color: darken(rgb(255, 0, 0), 15%);
      }
    }
  }
}
